.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  /** background: repeating-linear-gradient(
    60deg,
    tomato,
    tomato 30px,
    #47e3ff 30px,
    #47e3ff 50px
  );
  */
  -webkit-background-clip: text;
  -webkit-text-stroke: 12px transparent;
}
